.appBox{
    display: grid;
    height: 100vh;
    width: 100vw;
    background-color: rgb(191, 219, 235);
    grid-template-rows: 1fr 5fr 1fr;
}
.titleSlot
{
    grid-row: 1;
    grid-column: 1 / 4;
    background: crimson;
    display: grid;
    justify-content: center;
    align-items: center;
    color: blueviolet;
    background-color: rgba(3, 3, 3, 0.288);

}
.videoSlot{
    grid-row: 2;
    background-color: rgb(0, 0, 0);
    grid-column: 1 / 4;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(221, 221, 221, 0.575);


}
.optionSlot{
    grid-row: 3;
    grid-column: 1 / 4;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 60, 60);

}

